#include <iostream>
#include <string>
using namespace std;

int main() {
    int n;

    cout << "Masukkan jumlah mahasiswa: ";
    cin >> n;

    long npm[n];  // menggunakan long agar bisa menampung NPM panjang (misal 2415061100)

    cout << "\nMasukkan NPM masing-masing mahasiswa:\n";
    for (int i = 0; i < n; i++) {
        cout << "NPM ke-" << i + 1 << ": ";
        cin >> npm[i];
    }

    // Proses Bubble Sort (dari terkecil ke terbesar)
    for (int i = 0; i < n - 1; i++) {
        for (int j = 0; j < n - i - 1; j++) {
            if (npm[j] > npm[j + 1]) {
                // tukar posisi
                long temp = npm[j];
                npm[j] = npm[j + 1];
                npm[j + 1] = temp;
            }
        }
    }

    cout << "\nNPM setelah diurutkan (dari terkecil ke terbesar):\n";
    for (int i = 0; i < n; i++) {
        cout << npm[i] << " ";
    }
    cout << endl;

    return 0;
}
